main {
    padding: 20px;
    width: 83vw;
    margin: 0 auto;
}

main h1 {
    font-size: 2.0rem; /* Increase font size */
    color: #0055a6;
    margin-bottom: 40px; /* Add some bottom margin */
    margin-top:20px;
}

main h2 {
    font-size: 24px; /* Increase font size */
    color: #0055a6; /* Blue color */
    margin-bottom: 10px; /* Add some bottom margin */
}

main p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

main li {
    color: #666;
    margin-bottom: 20px;
    font-size: 16px;;
}

main ul {
    margin-left:20px;
}

main p span {
    font-weight: bold;
}

/* Adjust spacing between paragraphs */
main p + p {
    margin-top: 10px;
}

/* Add bullet points for certifications */

main p br + br + br::before {
    content: "• "; /* Add bullet point */
}

/* Align "Our Mission Statement" */
main h2:last-child {
    margin-top: 30px; /* Add some top margin */
}

/* Highlight "CAN" and "WILL" */
main p span {
    font-style: italic; /* Green color */
}

.lines {
    border: 1px solid #ee3a43;
    width: 100%;
    height: 2px;
    margin-bottom: 12px;
}