.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:550px;
    padding: 20px;
    background-image: url('./imgs/index-imgs/intercom_bkg.jpg');
}

.banner-title-img-box {
    display: flex;

}
.banner-title {
    position:absolute;
    font-family: sans-serif;
    font-size:3.0rem;
    color:white;
    align-self: flex-end;
    padding-left: 25px;
    padding-bottom: 20px;
}

.banner-img{
    margin: 0 auto;
    width:980px
}

.banner-text-box {
    width: 980px
}

.banner-text-box p {
    font-family:sans-serif;
    font-size: 1.25rem;
    word-spacing: 4;
    line-height: 1.3;
    width: 60%;
    padding: 2.5%;
}

.services {
    margin:0 auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:1600px;
}

.services h1 {
    color: #0055a6;
}

.services img {
    width: 384px;
    height: 250px;
}

.service-box-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.service-box {
    display: flex;
    flex-direction: column;
    width: 384px;
}

.service-box h3 {
    color: #0055a6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.service-box p {
    word-spacing: 3;
    line-height: 1.3;
}

.line-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
    color: #0055a6;
}

.lines {
    border: 1px solid #ee3a43;
    width: 650px;
    height: 2px;
    margin: 25px;
}

.join-intercom {
    display: flex;
    width: 1600px;
    margin: 0 auto;
    margin-top: 80px;
    background-color:#c5d8ec; 
    margin-bottom:15px;
}

.join-intercom-img {
    min-width:800px;
    height: 500px;
    object-fit: fill;
}

.join-intercom-description {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.join-intercom-description-spacer {
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
}

.join-intercom-description h2 {
    font-family: sans-serif;
    font-size: 2.0rem;
    color: #0055a6;
}

.join-intercom-description p {
    width: 350px;
    word-spacing: 3;
    line-height: 1.3;
}

.join-intercom-description button {
    background-color: #0055a6;
    width: 120px;
    height: 30px;
    word-spacing: 3;
    font-weight: 400;
    border: none;
    color: white;
}

.about-intercom {
    display: flex;
    width: 1600px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 80px;
    background-color:#c5d8ec;
}

.about-intercom-img {
    min-width:800px;
    height: 500px;
    object-fit: fill;
}

.about-intercom-description {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.about-intercom-description-spacer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.about-intercom-description h2 {
    font-family: 'avenir', sans-serif;
    font-size: 2.0rem;
    color: #0055a6;
}

.about-intercom-description p {
    width: 600px;
    word-spacing: 3;
    line-height: 1.5;
    text-align: justify;
}
